@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    }

   
    
    
    
header {  /*header information, used for the navbar */
    display: flex;
    justify-content: space-evenly;
    
    
    }

.maintemplate {   /*the primary template for basic text on the website */
    background-color:#F5D9A6;
    left: 100px;
    top: 100px;
    font-family: 'Hina Mincho', serif;
    border-radius: 25px;
    padding: 40px;
    filter: drop-shadow(30px 10px 4px #4444dd);
    margin: 25px;
}


h1 {
    font-family: 'Hina Mincho', serif;
    color: #A8884f
   

}


#blogjumpnav {  /* for the blogpage jump to blog navigator */
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-family: 'Hina Mincho', serif;
    justify-content: space-around;
    
    
    
}


#aboutme {                  /*basic styling for the about me section*/
    color: #6785a8
}

.gridlinks {     /*  For the links section in the professional links tab  */
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: center;

    
}


a:hover {                   /*basic hover effect for the navbar */
    background-color: #F5D9A6;
    }



   

    .maintemplate2 {   /*the blog template for basic text on the website */
        display: flex;
        flex-wrap: wrap;
        left: 100px;
        top: 100px;
        position: relative;
        
        
     }

.blogpost {   /*the first template for the blog, it displays images on the left while blogpost 2 does on the right */
    display: flex;
    flex-direction: row;
    background-color: #F5D9A6;
    color: #6785a8;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Hina Mincho', serif;
    filter: drop-shadow(30px 10px 4px #4444dd);
        
    
      
  }
  .blogpost :nth-child(1)               /* the order in which the blogposts elements are placed */
  {order: 1;
  color:  #6785a8;
   
    

  }
  .blogpost :nth-child(2)   {
    order: 3;
    color:  #6785a8;
   

    }
  .blogpost :nth-child(3)   {   
    order: 2;
       align-self: center;
       color:  #6785a8;
  }
  .blogpost :nth-child(4)    {
    order: 4;
    color:  #6785a8;
    

  }
      
    

  
    
  .blogpost2 {          /*displays images on the right*/
display: flex;
flex-direction: row;
background-color: #ffffff;
color:  #6785a8;

border-radius: 25px;
padding: 10px;
font-family: 'Hina Mincho', serif;
filter: drop-shadow(30px 10px 4px #4444dd);
  
}
.blogpost2 :nth-child(1)   
{order: 1;

}
.blogpost2 :nth-child(2)   {
 order: 2;
}
.blogpost2 :nth-child(3)   {   
order: 3;
align-self: center;
}
.blogpost2 :nth-child(4)  {
order: 4;
}


/*Phone profile/Tablet profile (works well on both */
@media only screen and (min-width: 481px) and (max-width: 960px) {
    .maintemplate{ 
       left: -5px;
       
        
       }
    .maintemplate2 {

        left: -5px;
        
    }
    
    }


    .container {
        max-width: 500px;
        display: flex;
    }


/*  PC profile  */

@media only screen and (min-width: 961px) {
    .maintemplate{ 
        left: -2%;

        
    }
   
    }
    .maintemplate2 {              
        left: -5px;
  
}


